asgiref==3.11.1
charset-normalizer==3.4.7
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.1
djoser==2.3.3
psycopg2-binary==2.9.11
sqlparse==0.5.5
django-filter==25.2
pillow==12.2.0
reportlab==4.5.0
numpy==2.3.1
pdfplumber==0.10.3
