.view-options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.view-options button {
    color: white;
    height: 2rem;
    width: 5rem;
}

.button-export {
    background-color: #02ff0e80;
    border: 1px solid #02ff0e;
}

.button-export:hover {
    background-color: #02ff0eCC;
}

.view-content-options {
    display: flex;
    align-items: center;
}

.view-content-options button {
    height: 2rem;
    width: 6rem;
    text-align: center;
    margin-right: 0.25rem;
    font-size: 1.25rem;
}

.view-content {
    display: flex;
    flex-direction: column;
}

.view-content-display {
    display: flex;
    width: 70%;
    margin-top: 2rem;
    align-self: center;
}

.view-content-display pre {
    width: 100%;
    height: 50vh;

    color: white;
    background-color: #00bbff30;
    border: 1px solid #4389FA;
    outline: 1px solid cyan;
}
